[submodule "templates_qed"]
	path = templates_qed
	url = https://github.com/quanted/templates_qed.git
[submodule "static_qed"]
	path = static_qed
	url = https://github.com/quanted/static_qed.git
[submodule "cts_app"]
	path = cts_app
	url = https://github.com/quanted/cts_app.git
[submodule "splash_app"]
	path = splash_app
	url = https://github.com/quanted/splash_app.git
[submodule "temp_config"]
	path = temp_config
	url = https://github.com/popenc/temp_config
[submodule "cts_celery"]
	path = cts_celery
	url = https://github.com/popenc/cts_celery.git
[submodule "cts_nodejs"]
	path = cts_nodejs
	url = https://github.com/popenc/cts_nodejs.git
[submodule "cts_nginx"]
	path = cts_nginx
	url = https://github.com/popenc/cts_nginx.git
